[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = "*"
oic = "*"
pycryptodome = "*"
pycryptodomex = "*"
bjoern = "*"

[requires]
python_version = "3.6"
